extends layout

block content
	div.container
		div.row
			div.span12
				h1 Twitter Wars!
				h5 A collaboration between Ryan Nielson and TJ Webb
		div.row.input
			div.span12
				div.input-append
					form(method="post", id="keyword-form")
						input(type="text", name="keyword", placeholder="keyword")
						button.btn.btn-primary(type="button") Primary

		div.content
			div#tweets