doctype 5
html
  head
    title Twitter Wars!
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript', src='/javascripts/socket.io.js')
    script(type='text/javascript', src='/javascripts/bootstrap.js')
    script(type='text/javascript', src='/javascripts/script.js')
    script(type='text/javascript')
      (function($) {
        $(document).ready(function() {
          var socket = io.connect('!{socketUrl}');
          socket.on('twitter', function(data) {
            processTweet(data);
          });
          socket.on('switched_keyword', function(data) {
            $('#alert-box').html('<h4>Now Streaming: ' + data);
            $('#alert-box').toggleClass("alert-info").toggleClass("alert-success");
          });
        });
      })(jQuery);
  body
    block content