doctype 5
html
  head
    title Norex's Horsewarming Party!
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript', src='/javascripts/socket.io.js')
    script(type='text/javascript', src='/javascripts/bootstrap.js')
    script(type='text/javascript', src='/javascripts/script.js')
    script(type='text/javascript')
      window.currentKeyword = '!{currentKeyword}';
  body
    block content