@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

@font-face {
    font-family: 'deming_epregular';
    src: url('deming_ep-webfont.eot');
    src: url('deming_ep-webfont.eot?#iefix') format('embedded-opentype'),
         url('deming_ep-webfont.woff') format('woff'),
         url('deming_ep-webfont.ttf') format('truetype'),
         url('deming_ep-webfont.svg#deming_epregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tweet img.profile {
    float: left;
    margin-right: 10px;
}

.tweet .picture-container {
    text-align: center;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.row.input {
    text-align: center;
}

body {
  background: transparent url('/images/bg.jpg');

  padding: 0 !important;
  margin: 0 !important;
}

#tweets > .row {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 15px;
  margin-bottom: 15px;
}

.container .row {
  word-break: break-word;
  margin-left: 0px !important;
}

.container .row > div {
  width: 100% !important;
  margin: 0 !important;
}

.container .row blockquote {
  padding: 0 !important;
  border: none !important;
  margin: 0 !important;
}

.container .row blockquote p {
  font-size: 25px !important;
  font-family: 'Roboto Condensed';
  line-height: 1 !important;
}

.container .row blockquote small {
  margin-top:10px;
  float: right;
  background: #9b5a2a;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  font-family: 'Noto Sans';
  font-weight: 700;
  content: '';
  text-transform: uppercase;
  box-shadow: -3px 3px 0 #62391b, -2px 2px 0 #62391b, -1px 1px 0 #62391b;
  font-family: 'Roboto Condensed';
}

.container .row blockquote small:before {
  content: '';
}

.header-image {
  margin: -25px auto 15px auto !important;
  color: #fff !important;
  background: transparent url('/images/header.png') no-repeat center top;
  width: 342px;
  height: 130px;
  line-height: 100px !important;
  font-family: 'deming_epregular';
  font-size: 26px !important;
}

img.picture {
  max-height: 480px !important;
}
